# Better Auth
BETTER_AUTH_SECRET="XIuY4y74C5gWbzspBPrX/+lxSeuQKoQezIJIQWZ1v4A="
BETTER_AUTH_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Database
DATABASE_URL="postgresql://postgres:25fHZDvjyOkw-EPW@localhost:5432/nextjs-starter"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="25fHZDvjyOkw-EPW"
POSTGRES_DB="nextjs-starter"

